DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
DB_NAME="postgres"
DB_USER="postgres"
DB_PASSWORD="postgres"
S3_BUCKET_NAME="abc"


S3_BUCKET_PREFIX="crawler"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""
VERSION="20260207"
